.login-warp{
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/wish_bg.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login-box{
    width: 400px;
    height: 428px;
    background-color: #fff;
}
.login-box h3{
    height: 100px;
    line-height: 100px;
    color: #333;
    text-align: center;
}

.login-warp header{
    width: 100%;
    height: 74px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.login-warp header div{
    width: 1200px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.login-warp footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* // 登录 注册 warp */
.loginformbox{
    width: 300px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}